﻿@model List<CardPatient.Models.Card>


@{
    ViewBag.Title = "Пациенты";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>ИИН</th>
        <th>Ф.И.О.</th>
        <th>Адрес</th>
        <th>Телефон</th>
        <th></th>
    </tr>
    
    @foreach (var item in Model)
    {
<tr>
    <td>@item.IIN</td>
    <td>@item.FullName</td>
    <td>@item.Address</td>
    <td>@item.Phone</td>
</tr>

    }

</table>